/**
 * 
 * Styles for artist cards
 *
 */

#aoc-artists-available .aoc-creative-card {
  position: relative !important;
}

.aoc-artist-crime-10 {
    background-position: 0 0;
}

.aoc-artist-crime-21 {
    background-position: 12.5% 0;
}

.aoc-artist-crime-22 {
    background-position: 25% 0;
}

.aoc-artist-crime-30 {
    background-position: 37.5% 0;
}

.aoc-artist-horror-10 {
    background-position: 50% 0;
}

.aoc-artist-horror-21 {
    background-position: 62.5% 0;
}

.aoc-artist-horror-22 {
    background-position: 75% 0;
}

.aoc-artist-horror-30 {
    background-position: 87.5% 0;
}

.aoc-artist-romance-10 {
    background-position: 100% 0;
}

.aoc-artist-romance-21 {
    background-position: 0 20%;
}

.aoc-artist-romance-22 {
    background-position: 12.5% 20%;
}

.aoc-artist-romance-30 {
    background-position: 25% 20%;
}

.aoc-artist-scifi-10 {
    background-position: 37.5% 20%;
}

.aoc-artist-scifi-21 {
    background-position: 50% 20%;
}

.aoc-artist-scifi-22 {
    background-position: 62.5% 20%;
}

.aoc-artist-scifi-30 {
    background-position: 75% 20%;
}

.aoc-artist-superhero-10 {
    background-position: 87.5% 20%;
}

.aoc-artist-superhero-21 {
    background-position: 100% 20%;
}

.aoc-artist-superhero-22 {
    background-position: 0 40%;
}

.aoc-artist-superhero-30 {
    background-position: 12.5% 40%;
}

.aoc-artist-western-10 {
    background-position: 25% 40%;
}

.aoc-artist-western-21 {
    background-position: 37.5% 40%;
}

.aoc-artist-western-22 {
    background-position: 50% 40%;
}

.aoc-artist-western-30 {
    background-position: 62.5% 40%;
}

.aoc-artist-facedown-1 {
    background-position: 75% 40%;
}

.aoc-artist-facedown-2 {
    background-position: 87.5% 40%;
}

.aoc-artist-facedown-3 {
    background-position: 100% 40%;
}