/**
 * 
 * Styles for comic cards
 *
 */

.aoc-comic-card {
  background-image: url(./img/aoc_comic_cards.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 249px;
  width: 174px;
}