/**
 * 
 * General card styles
 *
 */

.aoc-deck {
  height: 243px;
  padding-right: 10px;
  position: relative;
  width: 172px;
}

.aoc-discard {
  height: 243px;
  opacity: 0.75;
  padding-left: 10px;
  position: relative;
  width: 172px;
}