@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * AgeOfComics implementation : © Evan Pulgino <evan.pulgino@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * ageofcomics.scss
 *
 */
@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */
/**
 *
 * Styles for overall table layout
 *
 */
html {
  background-image: url(./img/aoc_table.jpg);
  font-size: calc(15px + 0.390625vw);
}

.player-board {
  background-color: #f5ead6 !important;
}

#page-title {
  background-color: #f5ead6 !important;
}

#aoc-overall {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aoc-gboard {
  transform-origin: top left;
}

#aoc-gboard .aoc-board {
  position: relative;
}

#aoc-layout {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-flow: column nowrap;
  justify-content: center;
  position: absolute;
  width: 100%;
}

#aoc-common-area {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
}

#aoc-players-section {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: center;
  position: relative;
}

/**
 *
 * Styles for the game board
 *
 */
.aoc-board {
  background-position: 99% 0;
  border-radius: 5px;
  width: 1439px;
}

.aoc-board-image {
  background-image: url(./img/aoc_board.jpg);
  background-repeat: no-repeat;
  height: 1062px;
}

.aoc-board-section {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
}

#aoc-chart {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.aoc-chart-start {
  background-position-x: -5px;
  border-radius: 5px 0 0 5px;
  width: 66px;
}

.aoc-chart-yellow {
  background-position-x: -71px;
  width: 71px;
}

.aoc-chart-salmon {
  background-position-x: -182px;
  width: 71px;
}

.aoc-chart-teal {
  background-position-x: -295px;
  width: 71px;
}

.aoc-chart-brown {
  background-position-x: -407px;
  width: 71px;
}

.aoc-chart-end {
  background-position-x: -477px;
  border-radius: 0 5px 5px 0;
  width: 21px;
}

/**
 *
 * Styles for the calendar components
 *
 */
.aoc-calendar-slot {
  position: absolute;
  height: 78px;
  top: 104px;
  width: 78px;
}

#aoc-calendar-slot-10 {
  left: 214px;
}

#aoc-calendar-slot-20 {
  left: 295px;
}

#aoc-calendar-slot-31 {
  left: 378px;
}

#aoc-calendar-slot-32 {
  left: 460px;
}

#aoc-calendar-slot-40 {
  left: 543px;
}

#aoc-calendar-slot-50 {
  left: 625px;
}

/* Tiles*/
.aoc-calendar-tile {
  background-image: url(./img/aoc_calendar.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 78px;
  width: 78px;
}

.aoc-calendar-tile-facedown {
  background-position: 0 0;
}

.aoc-calendar-tile-crime {
  background-position: 33.33% 0;
}

.aoc-calendar-tile-horror {
  background-position: 66.66% 0;
}

.aoc-calendar-tile-romance {
  background-position: 100% 0;
}

.aoc-calendar-tile-scifi {
  background-position: 0 100%;
}

.aoc-calendar-tile-superhero {
  background-position: 33.33% 100%;
}

.aoc-calendar-tile-western {
  background-position: 66.66% 100%;
}

/**
*
* Styles for editor meeples
*
*/
.aoc-editor {
  background-image: url(./img/aoc_editor.png);
  background-repeat: no-repeat;
  height: 62px;
  position: relative;
  width: 30.75px;
}

.aoc-editor-salmon {
  background-position-x: 0;
}

.aoc-editor-yellow {
  background-position-x: 33.33%;
}

.aoc-editor-teal {
  background-position-x: 66.66%;
}

.aoc-editor-brown {
  background-position-x: 100%;
}

.aoc-extra-editor-space {
  height: 62px;
  position: absolute;
  top: 971px;
  width: 30.75px;
}

#aoc-extra-editor-space-yellow {
  left: 405px;
}

#aoc-extra-editor-space-salmon {
  left: 444px;
}

#aoc-extra-editor-space-teal {
  left: 483px;
}

#aoc-extra-editor-space-brown {
  left: 522px;
}

/**
 *
 * Style for the idea tokens
 *
 */
.aoc-idea-token {
  background-image: url(./img/aoc_ideas.png);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 44px;
  position: relative;
  width: 44px;
}

.aoc-idea-token-crime {
  background-position: 0 0;
}

.aoc-idea-token-horror {
  background-position: 50% 0;
}

.aoc-idea-token-romance {
  background-position: 0 100%;
}

.aoc-idea-token-scifi {
  background-position: 50% 100%;
}

.aoc-idea-token-superhero {
  background-position: 100% 0;
}

.aoc-idea-token-western {
  background-position: 100% 100%;
}

.aoc-action-ideas-idea-space {
  height: 44px;
  position: absolute;
  width: 44px;
}

#aoc-action-ideas-crime {
  top: 252px;
  left: 589px;
}

#aoc-action-ideas-horror {
  top: 311px;
  left: 707px;
}

#aoc-action-ideas-romance {
  top: 311px;
  left: 589px;
}

#aoc-action-ideas-scifi {
  top: 252px;
  left: 648px;
}

#aoc-action-ideas-superhero {
  top: 252px;
  left: 707px;
}

#aoc-action-ideas-western {
  top: 311px;
  left: 648px;
}

/**
 *
 * Style for the mini comics
 *
 */
.aoc-mini-comic-container {
  height: 82.75px;
  position: absolute;
  width: 64px;
}

.aoc-mini-comic-space {
  top: 509.5px;
}

.aoc-mini-ripoff-space {
  top: 640.5px;
}

#aoc-mini-comics-crime, #aoc-mini-ripoffs-crime {
  left: 659px;
}

#aoc-mini-comics-horror, #aoc-mini-ripoffs-horror {
  left: 429px;
}

#aoc-mini-comics-romance, #aoc-mini-ripoffs-romance {
  left: 352px;
}

#aoc-mini-comics-scifi, #aoc-mini-ripoffs-scifi {
  left: 583px;
}

#aoc-mini-comics-superhero, #aoc-mini-ripoffs-superhero {
  left: 505px;
}

#aoc-mini-comics-western, #aoc-mini-ripoffs-western {
  left: 275px;
}

.aoc-mini-comic {
  background-image: url(./img/aoc_mini_comics.png);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 82.75px;
  position: absolute;
  width: 64px;
}

.aoc-mini-comic-10-1 {
  background-position: 18.18% 42.87%;
  z-index: 4;
}

.aoc-mini-comic-10-1-flipped {
  background-position: 36.36% 71.45%;
  z-index: 4;
}

.aoc-mini-comic-10-2 {
  background-position: 36.36% 42.87%;
  z-index: 3;
}

.aoc-mini-comic-10-2-flipped {
  background-position: 54.54% 71.45%;
  z-index: 3;
}

.aoc-mini-comic-10-3 {
  background-position: 27.27% 42.87%;
  z-index: 2;
}

.aoc-mini-comic-10-3-flipped {
  background-position: 45.45% 71.45%;
  z-index: 2;
}

.aoc-mini-comic-10-4 {
  background-position: 45.45% 42.87%;
  z-index: 1;
}

.aoc-mini-comic-10-4-flipped {
  background-position: 63.63% 71.45%;
  z-index: 1;
}

.aoc-mini-comic-20-1 {
  background-position: 36.36% 0;
  z-index: 4;
}

.aoc-mini-comic-20-1-flipped {
  background-position: 0 71.45%;
  z-index: 4;
}

.aoc-mini-comic-20-2 {
  background-position: 0 42.87%;
  z-index: 3;
}

.aoc-mini-comic-20-2-flipped {
  background-position: 18.18% 71.45%;
  z-index: 3;
}

.aoc-mini-comic-20-3 {
  background-position: 45.45% 28.58%;
  z-index: 2;
}

.aoc-mini-comic-20-3-flipped {
  background-position: 9.09% 71.45%;
  z-index: 2;
}

.aoc-mini-comic-20-4 {
  background-position: 9.09% 42.87%;
  z-index: 1;
}

.aoc-mini-comic-20-4-flipped {
  background-position: 27.27% 71.45%;
  z-index: 1;
}

.aoc-mini-comic-30-1 {
  background-position: 0 0;
  z-index: 4;
}

.aoc-mini-comic-30-1-flipped {
  background-position: 63.63% 14.29%;
  z-index: 4;
}

.aoc-mini-comic-30-2 {
  background-position: 36.36% 28.58%;
  z-index: 3;
}

.aoc-mini-comic-30-2-flipped {
  background-position: 63.63% 42.87%;
  z-index: 3;
}

.aoc-mini-comic-30-3 {
  background-position: 36.36% 14.29%;
  z-index: 2;
}

.aoc-mini-comic-30-3-flipped {
  background-position: 63.63% 28.58%;
  z-index: 2;
}

.aoc-mini-comic-30-4 {
  background-position: 45.45% 14.29%;
  z-index: 1;
}

.aoc-mini-comic-30-4-flipped {
  background-position: 63.63% 57.16%;
  z-index: 1;
}

.aoc-mini-comic-40-1 {
  background-position: 9.09% 28.58%;
  z-index: 4;
}

.aoc-mini-comic-40-1-flipped {
  background-position: 36.36% 57.16%;
  z-index: 4;
}

.aoc-mini-comic-40-2 {
  background-position: 27.27% 28.58%;
  z-index: 3;
}

.aoc-mini-comic-40-2-flipped {
  background-position: 54.54% 57.16%;
  z-index: 3;
}

.aoc-mini-comic-40-3 {
  background-position: 18.18% 28.58%;
  z-index: 2;
}

.aoc-mini-comic-40-3-flipped {
  background-position: 45.45% 57.16%;
  z-index: 2;
}

.aoc-mini-comic-40-4 {
  background-position: 18.18% 0;
  z-index: 1;
}

.aoc-mini-comic-40-4-flipped {
  background-position: 63.63% 0;
  z-index: 1;
}

.aoc-mini-comic-50-1 {
  background-position: 27.27% 0;
  z-index: 4;
}

.aoc-mini-comic-50-1-flipped {
  background-position: 0 57.16%;
  z-index: 4;
}

.aoc-mini-comic-50-2 {
  background-position: 27.37% 14.29%;
  z-index: 3;
}

.aoc-mini-comic-50-2-flipped {
  background-position: 18.18% 57.16%;
  z-index: 3;
}

.aoc-mini-comic-50-3 {
  background-position: 45.45% 0;
  z-index: 2;
}

.aoc-mini-comic-50-3-flipped {
  background-position: 9.09% 57.16%;
  z-index: 2;
}

.aoc-mini-comic-50-4 {
  background-position: 0 28.58%;
  z-index: 1;
}

.aoc-mini-comic-50-4-flipped {
  background-position: 27.27% 57.16%;
  z-index: 1;
}

.aoc-mini-comic-60-1 {
  background-position: 9.09% 0;
  z-index: 4;
}

.aoc-mini-comic-60-1-flipped {
  background-position: 54.54% 0;
  z-index: 4;
}

.aoc-mini-comic-60-2 {
  background-position: 18.18% 14.29%;
  z-index: 3;
}

.aoc-mini-comic-60-2-flipped {
  background-position: 54.54% 42.87%;
  z-index: 3;
}

.aoc-mini-comic-60-3 {
  background-position: 0 14.29%;
  z-index: 2;
}

.aoc-mini-comic-60-3-flipped {
  background-position: 54.54% 14.29%;
  z-index: 2;
}

.aoc-mini-comic-60-4 {
  background-position: 9.09% 14.29%;
  z-index: 1;
}

.aoc-mini-comic-60-4-flipped {
  background-position: 54.54% 28.58%;
  z-index: 1;
}

.aoc-mini-ripoff-10-1 {
  background-position: 72.72% 0;
  z-index: 4;
}

.aoc-mini-ripoff-10-1-flipped {
  background-position: 90.9% 28.57%;
  z-index: 4;
}

.aoc-mini-ripoff-10-2 {
  background-position: 72.72% 28.57%;
  z-index: 3;
}

.aoc-mini-ripoff-10-2-flipped {
  background-position: 90.9% 85.74%;
  z-index: 3;
}

.aoc-mini-ripoff-10-3 {
  background-position: 72.72% 14.29%;
  z-index: 2;
}

.aoc-mini-ripoff-10-3-flipped {
  background-position: 90.9% 42.87%;
  z-index: 2;
}

.aoc-mini-ripoff-10-4 {
  background-position: 72.72% 42.87%;
  z-index: 1;
}

.aoc-mini-ripoff-10-4-flipped {
  background-position: 90.9% 57.16%;
  z-index: 1;
}

.aoc-mini-ripoff-20-1 {
  background-position: 72.72% 57.16%;
  z-index: 4;
}

.aoc-mini-ripoff-20-1-flipped {
  background-position: 90.9% 71.45%;
  z-index: 4;
}

.aoc-mini-ripoff-20-2 {
  background-position: 81.81% 0;
  z-index: 3;
}

.aoc-mini-ripoff-20-2-flipped {
  background-position: 9.09% 100%;
  z-index: 3;
}

.aoc-mini-ripoff-20-3 {
  background-position: 72.72% 71.45%;
  z-index: 2;
}

.aoc-mini-ripoff-20-3-flipped {
  background-position: 0 100%;
  z-index: 2;
}

.aoc-mini-ripoff-20-4 {
  background-position: 81.81% 14.29%;
  z-index: 1;
}

.aoc-mini-ripoff-20-4-flipped {
  background-position: 18.18% 100%;
  z-index: 1;
}

.aoc-mini-ripoff-30-1 {
  background-position: 81.81% 28.57%;
  z-index: 4;
}

.aoc-mini-ripoff-30-1-flipped {
  background-position: 27.27% 100%;
  z-index: 4;
}

.aoc-mini-ripoff-30-2 {
  background-position: 81.81% 57.16%;
  z-index: 3;
}

.aoc-mini-ripoff-30-2-flipped {
  background-position: 45.45% 100%;
  z-index: 3;
}

.aoc-mini-ripoff-30-3 {
  background-position: 81.81% 42.87%;
  z-index: 2;
}

.aoc-mini-ripoff-30-3-flipped {
  background-position: 36.36% 100%;
  z-index: 2;
}

.aoc-mini-ripoff-30-4 {
  background-position: 81.81% 71.45%;
  z-index: 1;
}

.aoc-mini-ripoff-30-4-flipped {
  background-position: 54.54% 100%;
  z-index: 1;
}

.aoc-mini-ripoff-40-1 {
  background-position: 0 85.74%;
  z-index: 4;
}

.aoc-mini-ripoff-40-1-flipped {
  background-position: 63.63% 100%;
  z-index: 4;
}

.aoc-mini-ripoff-40-2 {
  background-position: 18.18% 85.74%;
  z-index: 3;
}

.aoc-mini-ripoff-40-2-flipped {
  background-position: 81.81% 100%;
  z-index: 3;
}

.aoc-mini-ripoff-40-3 {
  background-position: 9.09% 85.74%;
  z-index: 2;
}

.aoc-mini-ripoff-40-3-flipped {
  background-position: 72.72% 100%;
  z-index: 2;
}

.aoc-mini-ripoff-40-4 {
  background-position: 27.27% 85.74%;
  z-index: 1;
}

.aoc-mini-ripoff-40-4-flipped {
  background-position: 90.9% 100%;
  z-index: 1;
}

.aoc-mini-ripoff-50-1 {
  background-position: 36.36% 85.74%;
  z-index: 4;
}

.aoc-mini-ripoff-50-1-flipped {
  background-position: 100% 0;
  z-index: 4;
}

.aoc-mini-ripoff-50-2 {
  background-position: 54.54% 85.74%;
  z-index: 3;
}

.aoc-mini-ripofff-50-2-flipped {
  background-position: 100% 28.57%;
  z-index: 3;
}

.aoc-mini-ripoff-50-3 {
  background-position: 45.45% 85.74%;
  z-index: 2;
}

.aoc-mini-ripoff-50-3-flipped {
  background-position: 100% 14.29%;
  z-index: 2;
}

.aoc-mini-ripoff-50-4 {
  background-position: 63.63% 85.74%;
  z-index: 1;
}

.aoc-mini-ripoff-50-4-flipped {
  background-position: 100% 42.87%;
  z-index: 1;
}

.aoc-mini-ripoff-60-1 {
  background-position: 72.72% 85.74%;
  z-index: 4;
}

.aoc-mini-ripoff-60-1-flipped {
  background-position: 100% 57.16%;
  z-index: 4;
}

.aoc-mini-ripoff-60-2 {
  background-position: 90.9% 14.29%;
  z-index: 3;
}

.aoc-mini-ripoff-60-2-flipped {
  background-position: 100% 100%;
  z-index: 3;
}

.aoc-mini-ripoff-60-3 {
  background-position: 81.81% 85.74%;
  z-index: 2;
}

.aoc-mini-ripoff-60-3-flipped {
  background-position: 100% 71.45%;
  z-index: 2;
}

.aoc-mini-ripoff-60-4 {
  background-position: 90.9% 0;
  z-index: 1;
}

.aoc-mini-ripoff-60-4-flipped {
  background-position: 100% 85.74%;
  z-index: 1;
}

/**
 *
 * Styles for the player areas
 *
 */
.aoc-player-mat {
  background-image: url(./img/aoc_player_mats.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 420px;
  width: 1230px;
}

.aoc-player-mat-brown {
  background-position: 0 0;
}

.aoc-player-mat-salmon {
  background-position: 100% 0;
}

.aoc-player-mat-teal {
  background-position: 0 100%;
}

.aoc-player-mat-yellow {
  background-position: 100% 100%;
}

/**
 *
 * Styles for the player order components
 *
 */
.aoc-player-order-space {
  height: 28px;
  left: 114px;
  position: absolute;
  width: 28px;
}

#aoc-player-order-space-1 {
  top: 27px;
}

#aoc-player-order-space-2 {
  top: 69px;
}

#aoc-player-order-space-3 {
  top: 109px;
}

#aoc-player-order-space-4 {
  top: 151px;
}

/* Player Order Tokens */
.aoc-player-order-token {
  background-image: url(./img/aoc_player_order.png);
  background-repeat: no-repeat;
  border-radius: 5px;
  bottom: 20px;
  height: 49px;
  position: relative;
  width: 28px;
}

.aoc-player-order-token-brown {
  background-position: 0;
}

.aoc-player-order-token-salmon {
  background-position: 33.33%;
}

.aoc-player-order-token-teal {
  background-position: 66.66%;
}

.aoc-player-order-token-yellow {
  background-position: 100%;
}

/**
 *
 * Style for sales orders
 *
 */
.aoc-salesorder {
  background-image: url("img/aoc-sales-orders.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 55px;
  width: 55px;
}

.aoc-salesorder-crime-facedown {
  background-position: 0 0;
}

.aoc-salesorder-crime-3 {
  background-position: 25% 0;
}

.aoc-salesorder-crime-4 {
  background-position: 50% 0;
}

.aoc-salesorder-crime-5 {
  background-position: 75% 0;
}

.aoc-salesorder-crime-6 {
  background-position: 100% 0;
}

.aoc-salesorder-horror-facedown {
  background-position: 0 20%;
}

.aoc-salesorder-horror-3 {
  background-position: 25% 20%;
}

.aoc-salesorder-horror-4 {
  background-position: 50% 20%;
}

.aoc-salesorder-horror-5 {
  background-position: 75% 20%;
}

.aoc-salesorder-horror-6 {
  background-position: 100% 20%;
}

.aoc-salesorder-romance-facedown {
  background-position: 0 40%;
}

.aoc-salesorder-romance-3 {
  background-position: 25% 40%;
}

.aoc-salesorder-romance-4 {
  background-position: 50% 40%;
}

.aoc-salesorder-romance-5 {
  background-position: 75% 40%;
}

.aoc-salesorder-romance-6 {
  background-position: 100% 40%;
}

.aoc-salesorder-scifi-facedown {
  background-position: 0 60%;
}

.aoc-salesorder-scifi-3 {
  background-position: 25% 60%;
}

.aoc-salesorder-scifi-4 {
  background-position: 50% 60%;
}

.aoc-salesorder-scifi-5 {
  background-position: 75% 60%;
}

.aoc-salesorder-scifi-6 {
  background-position: 100% 60%;
}

.aoc-salesorder-superhero-facedown {
  background-position: 0 80%;
}

.aoc-salesorder-superhero-3 {
  background-position: 25% 80%;
}

.aoc-salesorder-superhero-4 {
  background-position: 50% 80%;
}

.aoc-salesorder-superhero-5 {
  background-position: 75% 80%;
}

.aoc-salesorder-superhero-6 {
  background-position: 100% 80%;
}

.aoc-salesorder-western-facedown {
  background-position: 0 100%;
}

.aoc-salesorder-western-3 {
  background-position: 25% 100%;
}

.aoc-salesorder-western-4 {
  background-position: 50% 100%;
}

.aoc-salesorder-western-5 {
  background-position: 75% 100%;
}

.aoc-salesorder-western-6 {
  background-position: 100% 100%;
}

.aoc-map-order-space {
  height: 56px;
  position: absolute;
  width: 56px;
}

#aoc-map-order-space-105 {
  left: 1062px;
  top: 77px;
}

#aoc-map-order-space-203 {
  left: 927px;
  top: 160px;
}

#aoc-map-order-space-205 {
  left: 1062px;
  top: 160px;
}

#aoc-map-order-space-207 {
  left: 1199px;
  top: 160px;
}

#aoc-map-order-space-302 {
  left: 862px;
  top: 232px;
}

#aoc-map-order-space-304 {
  left: 996px;
  top: 232px;
}

#aoc-map-order-space-306 {
  left: 1129px;
  top: 232px;
}

#aoc-map-order-space-308 {
  left: 1263px;
  top: 232px;
}

#aoc-map-order-space-403 {
  left: 927px;
  top: 305px;
}

#aoc-map-order-space-405 {
  left: 1062px;
  top: 305px;
}

#aoc-map-order-space-407 {
  left: 1199px;
  top: 305px;
}

#aoc-map-order-space-502 {
  left: 862px;
  top: 376px;
}

#aoc-map-order-space-504 {
  left: 996px;
  top: 376px;
}

#aoc-map-order-space-506 {
  left: 1129px;
  top: 376px;
}

#aoc-map-order-space-508 {
  left: 1263px;
  top: 376px;
}

#aoc-map-order-space-603 {
  left: 927px;
  top: 448px;
}

#aoc-map-order-space-605 {
  left: 1062px;
  top: 448px;
}

#aoc-map-order-space-607 {
  left: 1199px;
  top: 448px;
}

#aoc-map-order-space-701 {
  left: 776px;
  top: 521px;
}

#aoc-map-order-space-702 {
  left: 862px;
  top: 521px;
}

#aoc-map-order-space-704 {
  left: 996px;
  top: 521px;
}

#aoc-map-order-space-706 {
  left: 1129px;
  top: 521px;
}

#aoc-map-order-space-708 {
  left: 1263px;
  top: 521px;
}

#aoc-map-order-space-709 {
  left: 1348px;
  top: 521px;
}

#aoc-map-order-space-803 {
  left: 927px;
  top: 596px;
}

#aoc-map-order-space-805 {
  left: 1062px;
  top: 596px;
}

#aoc-map-order-space-807 {
  left: 1199px;
  top: 596px;
}

#aoc-map-order-space-902 {
  left: 862px;
  top: 667px;
}

#aoc-map-order-space-904 {
  left: 996px;
  top: 667px;
}

#aoc-map-order-space-906 {
  left: 1129px;
  top: 667px;
}

#aoc-map-order-space-908 {
  left: 1263px;
  top: 667px;
}

#aoc-map-order-space-1003 {
  left: 927px;
  top: 738px;
}

#aoc-map-order-space-1005 {
  left: 1062px;
  top: 738px;
}

#aoc-map-order-space-1007 {
  left: 1199px;
  top: 738px;
}

#aoc-map-order-space-1102 {
  left: 862px;
  top: 811px;
}

#aoc-map-order-space-1104 {
  left: 996px;
  top: 811px;
}

#aoc-map-order-space-1106 {
  left: 1129px;
  top: 811px;
}

#aoc-map-order-space-1108 {
  left: 1263px;
  top: 811px;
}

#aoc-map-order-space-1203 {
  left: 927px;
  top: 882px;
}

#aoc-map-order-space-1205 {
  left: 1062px;
  top: 882px;
}

#aoc-map-order-space-1207 {
  left: 1199px;
  top: 882px;
}

#aoc-map-order-space-1305 {
  left: 1062px;
  top: 967px;
}

/**
 * 
 * Styles for comic cards
 *
 */
.aoc-comic-card {
  background-image: url(./img/aoc_comic_cards.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 249px;
  width: 174px;
}
