@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * AgeOfComics implementation : © Evan Pulgino <evan.pulgino@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * ageofcomics.scss
 *
 */
@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */
/* Generic Classes */
html {
  background-image: url(./img/aoc_table.jpg);
  font-size: calc(15px + 0.390625vw);
}

.player-board {
  background-color: #f5ead6 !important;
}

#page-title {
  background-color: #f5ead6 !important;
}

#aoc-overall {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aoc-gboard {
  transform-origin: top left;
}

#aoc-gboard .aoc-board {
  position: relative;
}

#aoc-layout {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-flow: column nowrap;
  justify-content: center;
  position: absolute;
}

#aoc-common-area {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
}

#aoc-chart {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#aoc-players-section {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.aoc-calendar-slot {
  position: absolute;
  height: 78px;
  width: 78px;
  top: 104px;
}

#aoc-calendar-slot-10 {
  left: 214px;
}

#aoc-calendar-slot-20 {
  left: 295px;
}

#aoc-calendar-slot-31 {
  left: 378px;
}

#aoc-calendar-slot-32 {
  left: 460px;
}

#aoc-calendar-slot-40 {
  left: 543px;
}

#aoc-calendar-slot-50 {
  left: 625px;
}

.aoc-player-order-space {
  height: 28px;
  left: 114px;
  position: absolute;
  width: 28px;
}

#aoc-player-order-space-1 {
  top: 27px;
}

#aoc-player-order-space-2 {
  top: 69px;
}

#aoc-player-order-space-3 {
  top: 109px;
}

#aoc-player-order-space-4 {
  top: 151px;
}

.aoc-board-section {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
}

/* Game Board */
.aoc-board-image {
  background-image: url(./img/aoc_board.jpg);
  background-repeat: no-repeat;
  height: 1062px;
}

.aoc-board {
  background-position: 99% 0;
  border-radius: 5px;
  width: 1439px;
}

.aoc-chart-start {
  background-position-x: -5px;
  border-radius: 5px 0 0 5px;
  width: 66px;
}

.aoc-chart-yellow {
  background-position-x: -71px;
  width: 71px;
}

.aoc-chart-salmon {
  background-position-x: -182px;
  width: 71px;
}

.aoc-chart-teal {
  background-position-x: -295px;
  width: 71px;
}

.aoc-chart-brown {
  background-position-x: -407px;
  width: 71px;
}

.aoc-chart-end {
  background-position-x: -478px;
  border-radius: 0 5px 5px 0;
  width: 21px;
}

/* Player Mats */
.aoc-player-mat {
  background-image: url(./img/aoc_player_mats.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 420px;
  width: 1230px;
}

.aoc-player-mat-brown {
  background-position: 0 0;
}

.aoc-player-mat-salmon {
  background-position: 100% 0;
}

.aoc-player-mat-teal {
  background-position: 0 100%;
}

.aoc-player-mat-yellow {
  background-position: 100% 100%;
}

/* Cards */
.aoc-comic-card {
  background-image: url(./img/aoc_comic_cards.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 249px;
  width: 174px;
}

/* Calendar Tiles */
.aoc-calendar-tile {
  background-image: url(./img/aoc_calendar.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 78px;
  width: 78px;
}

.aoc-calendar-tile-facedown {
  background-position: 0 0;
}

.aoc-calendar-tile-crime {
  background-position: 33.33% 0;
}

.aoc-calendar-tile-horror {
  background-position: 66.66% 0;
}

.aoc-calendar-tile-romance {
  background-position: 100% 0;
}

.aoc-calendar-tile-scifi {
  background-position: 0 100%;
}

.aoc-calendar-tile-superhero {
  background-position: 33.33% 100%;
}

.aoc-calendar-tile-western {
  background-position: 66.66% 100%;
}

/* Player Order Tokens */
.aoc-player-order-token {
  background-image: url(./img/aoc_player_order.png);
  background-repeat: no-repeat;
  border-radius: 5px;
  bottom: 20px;
  height: 49px;
  position: relative;
  width: 28px;
}

.aoc-player-order-token-brown {
  background-position: 0;
}

.aoc-player-order-token-salmon {
  background-position: 33.33%;
}

.aoc-player-order-token-teal {
  background-position: 66.66%;
}

.aoc-player-order-token-yellow {
  background-position: 100%;
}
