/**
 *
 * Styles for the game board
 *
 */

.aoc-board {
  background-position: 99% 0;
  width: 1439px;
}

.aoc-board-image {
  background-image: url(./img/aoc_board.jpg);
  background-repeat: no-repeat;
  height: 1062px;
}

.aoc-board-section {
  filter: drop-shadow(4px 4px 4px black);
  -webkit-filter: drop-shadow(4px 4px 5px #000);
}

#aoc-chart {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.aoc-chart-start {
  background-position-x: -5px;
  border-radius: 5px 0 0 5px;
  width: 66px;
}

.aoc-chart-yellow {
  background-position-x: -71px;
  width: 71px;
}

.aoc-chart-salmon {
  background-position-x: -182px;
  width: 71px;
}

.aoc-chart-teal {
  background-position-x: -295px;
  width: 71px;
}

.aoc-chart-brown {
  background-position-x: -407px;
  width: 71px;
}

.aoc-chart-end {
  background-position-x: -477px;
  border-radius: 0 5px 5px 0;
  width: 21px;
}

.aoc-chart-space {
  height: 88px;
  position: absolute;
  width: 68px;
  margin-left: 2.5px;
}

.aoc-chart-space-0 {
  bottom: 20px;
}

.aoc-chart-space-1 {
  bottom: 113px;
}

.aoc-chart-space-2 {
  bottom: 206px;
}

.aoc-chart-space-3 {
  bottom: 298px;
}

.aoc-chart-space-4 {
  bottom: 391px;
}

.aoc-chart-space-5 {
  bottom: 484px;
}

.aoc-chart-space-6 {
  bottom: 578px;
}

.aoc-chart-space-7 {
  bottom: 670px;
}

.aoc-chart-space-8 {
  bottom: 763px;
}

.aoc-chart-space-9 {
  bottom: 856px;
}

.aoc-chart-space-10 {
  bottom: 949px;
}

#aoc-action-hire {
  height: 153px;
  left: 21px;
  position: absolute;
  top: 211px;
  width: 220px;
}

#aoc-action-develop {
  height: 153px;
  left: 260px;
  position: absolute;
  top: 211px;
  width: 220px;
}

#aoc-action-ideas {
  height: 153px;
  left: 498px;
  position: absolute;
  top: 211px;
  width: 352px;
}

#aoc-action-print {
  height: 153px;
  left: 21px;
  position: absolute;
  top: 491px;
  width: 245px;
}

#aoc-action-royalties {
  height: 153px;
  left: 21px;
  position: absolute;
  top: 772px;
  width: 340px;
}

#aoc-action-sales {
  height: 153px;
  left: 379px;
  position: absolute;
  top: 772px;
  width: 357px;
}

.aoc-action-space {
  width: 31px;
  height: 20px;
  position: fixed;
}

#aoc-action-space-hire-1 {
  left: 30px;
  top: 217px;
}

#aoc-action-space-hire-2 {
  left: 30px;
  top: 247px;
}

#aoc-action-space-hire-3 {
  left: 30px;
  top: 277px;
}

#aoc-action-space-hire-4 {
  left: 30px;
  top: 306px;
}

#aoc-action-space-hire-5 {
  left: 30px;
  top: 336px;
}

#aoc-action-space-develop-1 {
  left: 269px;
  top: 217px;
}

#aoc-action-space-develop-2 {
  left: 269px;
  top: 247px;
}

#aoc-action-space-develop-3 {
  left: 269px;
  top: 277px;
}

#aoc-action-space-develop-4 {
  left: 269px;
  top: 306px;
}

#aoc-action-space-develop-5 {
  left: 269px;
  top: 336px;
}

#aoc-action-space-ideas-1 {
  left: 508px;
  top: 217px;
}

#aoc-action-space-ideas-2 {
  left: 508px;
  top: 247px;
}

#aoc-action-space-ideas-3 {
  left: 508px;
  top: 277px;
}

#aoc-action-space-ideas-4 {
  left: 508px;
  top: 306px;
}

#aoc-action-space-ideas-5 {
  left: 508px;
  top: 336px;
}

#aoc-action-space-print-1 {
  left: 30px;
  top: 498px;
}

#aoc-action-space-print-2 {
  left: 30px;
  top: 528px;
}

#aoc-action-space-print-3 {
  left: 30px;
  top: 558px;
}

#aoc-action-space-print-4 {
  left: 30px;
  top: 587px;
}

#aoc-action-space-print-5 {
  left: 30px;
  top: 617px;
}

#aoc-action-space-royalties-1 {
  left: 30px;
  top: 779px;
}

#aoc-action-space-royalties-2 {
  left: 30px;
  top: 809px;
}

#aoc-action-space-royalties-3 {
  left: 30px;
  top: 839px;
}

#aoc-action-space-royalties-4 {
  left: 30px;
  top: 868px;
}

#aoc-action-space-royalties-5 {
  left: 30px;
  top: 898px;
}

#aoc-action-space-sales-1 {
  left: 388px;
  top: 779px;
}

#aoc-action-space-sales-2 {
  left: 388px;
  top: 809px;
}

#aoc-action-space-sales-3 {
  left: 388px;
  top: 839px;
}

#aoc-action-space-sales-4 {
  left: 388px;
  top: 868px;
}

#aoc-action-space-sales-5 {
  left: 388px;
  top: 898px;
}

#aoc-action-hire-upgrade-spaces {
  left: 3px;
  top: 156px;
  position: absolute;
  width: 217px;
  height: 94px;
}

#aoc-action-develop-upgrade-spaces {
  left: 3px;
  top: 156px;
  position: absolute;
  width: 217px;
  height: 94px;
}

#aoc-action-ideas-upgrade-spaces {
  left: 3px;
  top: 156px;
  position: absolute;
  width: 237px;
  height: 94px;
}

#aoc-action-print-upgrade-spaces {
  left: 3px;
  top: 156px;
  position: absolute;
  width: 217px;
  height: 94px;
}

#aoc-action-royalties-upgrade-spaces {
  left: 3px;
  top: 156px;
  position: absolute;
  width: 337px;
  height: 109px;
}

#aoc-action-sales-upgrade-spaces {
  left: 3px;
  top: 156px;
  position: absolute;
  width: 356px;
  height: 109px;
}

.aoc-upgrade-space {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
}

#aoc-action-upgrade-hire-yellow {
  left: 78px;
}

#aoc-action-upgrade-hire-salmon {
  left: 111px;
}

#aoc-action-upgrade-hire-teal {
  left: 143px;
}

#aoc-action-upgrade-hire-brown {
  left: 176px;
}

#aoc-action-upgrade-develop-yellow {
  left: 88px;
}

#aoc-action-upgrade-develop-salmon {
  left: 121px;
}

#aoc-action-upgrade-develop-teal {
  left: 153px;
}

#aoc-action-upgrade-develop-brown {
  left: 186px;
}

#aoc-action-upgrade-ideas-yellow {
  left: 105px;
}

#aoc-action-upgrade-ideas-salmon {
  left: 138px;
}

#aoc-action-upgrade-ideas-teal {
  left: 170px;
}

#aoc-action-upgrade-ideas-brown {
  left: 203px;
}

#aoc-action-upgrade-print-yellow {
  left: 87px;
}

#aoc-action-upgrade-print-salmon {
  left: 120px;
}

#aoc-action-upgrade-print-teal {
  left: 152px;
}

#aoc-action-upgrade-print-brown {
  left: 185px;
}

#aoc-action-upgrade-royalties-yellow {
  left: 183px;
  top: 59px !important;
}

#aoc-action-upgrade-royalties-salmon {
  left: 215px;
  top: 59px !important;
}

#aoc-action-upgrade-royalties-teal {
  left: 248px;
  top: 59px !important;
}

#aoc-action-upgrade-royalties-brown {
  left: 280px;
  top: 59px !important;
}

#aoc-action-upgrade-sales-yellow {
  left: 205px;
  top: 58px !important;
}

#aoc-action-upgrade-sales-salmon {
  left: 237px;
  top: 58px !important;
}

#aoc-action-upgrade-sales-teal {
  left: 270px;
  top: 58px !important;
}

#aoc-action-upgrade-sales-brown {
  left: 303px;
  top: 58px !important;
}

#aoc-highlight-pay-player {
  border: 5px solid red;
  height: 44px;
  position: absolute;
  width: 103px;
  top: 17px;
  left: 1306px;
}
