/**
 *
 * Styles for the game board
 *
 */

.aoc-board {
  background-position: 99% 0;
  width: 1439px;
}

.aoc-board-image {
  background-image: url(./img/aoc_board.jpg);
  background-repeat: no-repeat;
  height: 1062px;
}

.aoc-board-section {
  filter: drop-shadow(4px 4px 4px black);
  -webkit-filter: drop-shadow(4px 4px 5px #000);
}

#aoc-chart {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.aoc-chart-start {
  background-position-x: -5px;
  border-radius: 5px 0 0 5px;
  width: 66px;
}

.aoc-chart-yellow {
  background-position-x: -71px;
  width: 71px;
}

.aoc-chart-salmon {
  background-position-x: -182px;
  width: 71px;
}

.aoc-chart-teal {
  background-position-x: -295px;
  width: 71px;
}

.aoc-chart-brown {
  background-position-x: -407px;
  width: 71px;
}

.aoc-chart-end {
  background-position-x: -477px;
  border-radius: 0 5px 5px 0;
  width: 21px;
}

#aoc-action-hire {
  height: 153px;
  left: 21px;
  position: absolute;
  top: 211px;
  width: 220px;
}

#aoc-action-develop {
  height: 153px;
  left: 260px;
  position: absolute;
  top: 211px;
  width: 220px;
}

#aoc-action-ideas {
  height: 153px;
  left: 498px;
  position: absolute;
  top: 211px;
  width: 352px;
}

#aoc-action-print {
  height: 153px;
  left: 21px;
  position: absolute;
  top: 491px;
  width: 245px;
}

#aoc-action-royalties {
  height: 153px;
  left: 21px;
  position: absolute;
  top: 772px;
  width: 340px;
}

#aoc-action-sales {
  height: 153px;
  left: 379px;
  position: absolute;
  top: 772px;
  width: 357px;
}

.aoc-action-space {
  width: 31px;
  height: 20px;
  position: fixed;
}

#aoc-action-space-hire-1 {
  left: 30px;
  top: 217px;
}

#aoc-action-space-hire-2 {
  left: 30px;
  top: 247px;
}

#aoc-action-space-hire-3 {
  left: 30px;
  top: 277px;
}

#aoc-action-space-hire-4 {
  left: 30px;
  top: 306px;
}

#aoc-action-space-hire-5 {
  left: 30px;
  top: 336px;
}

#aoc-action-space-develop-1 {
  left: 269px;
  top: 217px;
}

#aoc-action-space-develop-2 {
  left: 269px;
  top: 247px;
}

#aoc-action-space-develop-3 {
  left: 269px;
  top: 277px;
}

#aoc-action-space-develop-4 {
  left: 269px;
  top: 306px;
}

#aoc-action-space-develop-5 {
  left: 269px;
  top: 336px;
}

#aoc-action-space-ideas-1 {
  left: 508px;
  top: 217px;
}

#aoc-action-space-ideas-2 {
  left: 508px;
  top: 247px;
}

#aoc-action-space-ideas-3 {
  left: 508px;
  top: 277px;
}

#aoc-action-space-ideas-4 {
  left: 508px;
  top: 306px;
}

#aoc-action-space-ideas-5 {
  left: 508px;
  top: 336px;
}

#aoc-action-space-print-1 {
  left: 30px;
  top: 498px;
}

#aoc-action-space-print-2 {
  left: 30px;
  top: 528px;
}

#aoc-action-space-print-3 {
  left: 30px;
  top: 558px;
}

#aoc-action-space-print-4 {
  left: 30px;
  top: 587px;
}

#aoc-action-space-print-5 {
  left: 30px;
  top: 617px;
}

#aoc-action-space-royalties-1 {
  left: 30px;
  top: 779px;
}

#aoc-action-space-royalties-2 {
  left: 30px;
  top: 809px;
}

#aoc-action-space-royalties-3 {
  left: 30px;
  top: 839px;
}

#aoc-action-space-royalties-4 {
  left: 30px;
  top: 868px;
}

#aoc-action-space-royalties-5 {
  left: 30px;
  top: 898px;
}

#aoc-action-space-sales-1 {
  left: 388px;
  top: 779px;
}

#aoc-action-space-sales-2 {
  left: 388px;
  top: 809px;
}

#aoc-action-space-sales-3 {
  left: 388px;
  top: 839px;
}

#aoc-action-space-sales-4 {
  left: 388px;
  top: 868px;
}

#aoc-action-space-sales-5 {
  left: 388px;
  top: 898px;
}
