/**
 *
 * Style for the idea tokens
 *
 */

#aoc-idea-tokens {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.aoc-idea-tokens-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.aoc-idea-token {
  background-image: url(./img/aoc_round_tokens.png);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 44px;
  width: 44px;
}

.aoc-idea-bank {
  height: 44px;
  position: relative;
  width: 44px;
}

.aoc-idea-bank .aoc-idea-token:nth-child(1) {
  bottom: 0;
  z-index: 1;
}

.aoc-idea-bank .aoc-idea-token:nth-child(2) {
  bottom: 2px;
  z-index: 2;
}

.aoc-idea-bank .aoc-idea-token:nth-child(3) {
  bottom: 4px;
  z-index: 3;
}

.aoc-idea-bank .aoc-idea-token:nth-child(4) {
  bottom: 6px;
  z-index: 4;
}

.aoc-idea-bank .aoc-idea-token:nth-child(5) {
  bottom: 8px;
  z-index: 5;
}

.aoc-idea-token-crime {
  background-position: 50% 50%;
}
.aoc-idea-token-horror {
  background-position: 100% 0;
}

.aoc-idea-token-romance {
  background-position: 100% 50%;
}

.aoc-idea-token-scifi {
  background-position: 0 100%;
}

.aoc-idea-token-superhero {
  background-position: 50% 100%;
}

.aoc-idea-token-western {
  background-position: 100% 100%;
}

.aoc-action-ideas-idea-space {
  height: 44px;
  position: absolute;
  width: 44px;
}

#aoc-action-ideas-crime {
  top: 252px;
  left: 589px;
}

#aoc-action-ideas-horror {
  top: 311px;
  left: 707px;
}

#aoc-action-ideas-romance {
  top: 311px;
  left: 589px;
}

#aoc-action-ideas-scifi {
  top: 252px;
  left: 648px;
}

#aoc-action-ideas-superhero {
  top: 252px;
  left: 707px;
}

#aoc-action-ideas-western {
  top: 311px;
  left: 648px;
}

.aoc-player-panel-supply .aoc-idea-token {
  text-align: center;
  transform: scale(0.75);
}
