/**
 *
 * Styles for the player areas
 *
 */

.aoc-player-background-panel {
  height: auto;
  width: 95%;
  position: relative;
}

.aoc-paper-supply {
  background-image: url(./img/aoc_paper.jpg);
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(2px 2px 2px black);
  -webkit-filter: drop-shadow(2px 2px 3px #000);
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 10px;
}

.aoc-editor-container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  height: 420px;
  justify-content: space-evenly;
  left: 0;
  position: absolute;
  width: 70px;
}

.aoc-empty {
  opacity: 0.2;
}

.aoc-player-supply {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 12px;
}

.aoc-player-supply-count {
  font-size: 40px;
  font-weight: 600;
  padding-right: 6px;
}

.aoc-player-area {
  align-items: end;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #000000a0;
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  justify-content: start;
  position: relative;
  width: 100%;
  height: 100%;
}

.aoc-player-area-left {
  align-items: flex-end;
  display: flex;
  flex-flow: row nowrap;
  height: 485px;
  justify-content: flex-end;
  position: relative;
  width: 1300px;
}

.aoc-player-area-right {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  justify-content: space-evenly;
  height: auto;
  padding-left: 25px;
  position: relative;
}

.aoc-player-area-brown {
  background-color: $brown;
  background-image: linear-gradient(to right, #f5ead690, $brown);
}

.aoc-player-area-salmon {
  background-color: $salmon;
  background-image: linear-gradient(to right, #f5ead690, $salmon);
}

.aoc-player-area-teal {
  background-color: $teal;
  background-image: linear-gradient(to right, #f5ead690, $teal);
}

.aoc-player-area-yellow {
  background-color: $yellow;
  background-image: linear-gradient(to right #f5ead690, $yellow);
}

.aoc-player-mastery-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: space-evenly;
}

.aoc-player-token-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: space-evenly;
}

.aoc-player-token-container .aoc-ticket {
  position: relative !important;
}

.aoc-hand {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  height: 243px;
  padding-bottom: 15px;
}

.aoc-hand .aoc-creative-card {
  position: relative !important;
}
.aoc-hand .aoc-comic-card {
  position: relative !important;
}

.aoc-player-mat {
  background-image: url(./img/aoc_player_mats.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 4px black);
  -webkit-filter: drop-shadow(4px 4px 5px #000);
  height: 420px;
  width: 1230px;
  z-index: 2;
}

.aoc-player-mat-brown {
  background-position: 0 0;
}

.aoc-player-mat-salmon {
  background-position: 100% 0;
}

.aoc-player-mat-teal {
  background-position: 0 100%;
}

.aoc-player-mat-yellow {
  background-position: 100% 100%;
}

.aoc-player-cube {
  background-image: url(./img/aoc_cubes.png);
  background-repeat: no-repeat;
  height: 28px;
  position: absolute;
  width: 23px;
}

.aoc-player-cube-brown {
  background-position: 0 0;
}

.aoc-player-cube-salmon {
  background-position: 33.33% 0;
}

.aoc-player-cube-teal {
  background-position: 100% 0;
}

.aoc-player-cube-yellow {
  background-position: 66.66% 0;
}

.aoc-cube-space {
  height: 28px;
  position: absolute;
  width: 23px;
  top: 30px;
}

.aoc-cube-space-one {
  left: 304px;
}

.aoc-cube-space-two {
  left: 503px;
}

.aoc-cube-space-three {
  left: 703px;
}

.aoc-player-name {
  font-size: 40px;
  font-weight: 600;
  line-height: 65px;
  z-index: 3;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 2px 2px 2px black;
}

.aoc-player-name-brown {
  color: $brown;
}

.aoc-player-name-salmon {
  color: $salmon;
}

.aoc-player-name-teal {
  color: $teal;
}

.aoc-player-name-yellow {
  color: $yellow;
}

.aoc-player-panel-row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 1px;
}

.aoc-player-panel-idea-supply {
  height: 22px;
}

.aoc-player-panel-other-supply {
  height: 22px;
}

.aoc-player-panel-mastery {
  flex-flow: row wrap !important;
}

.aoc-player-panel-supply {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px;
}

.aoc-player-panel-supply-count {
  font-size: 33px;
  font-weight: 400;
  padding-right: 1px;
  line-height: 30px;
}

.aoc-player-panel-income-count {
  font-size: 33px;
  font-weight: 400;
  padding-right: 6px;
  line-height: 30px;
}

.aoc-player-panel-icon-size {
  font-size: 33px;
  line-height: 30px;
  text-align: center;
}
