/**
 *
 * Style for other small tokens
 *
 */

 #aoc-other-tokens {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
 }

 .aoc-other-tokens-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
 }

.aoc-round-token {
  background-image: url(./img/aoc_round_tokens.png);
  background-repeat: no-repeat;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 2px #000);
  height: 44px;
  position: absolute;
  width: 44px;
}

.aoc-token-bank {
  height: 44px;
  position: relative;
  width: 44px;
}

.aoc-token-bank .aoc-round-token:nth-child(1) {
  bottom: 0;
  z-index: 1;
}

.aoc-token-bank .aoc-round-token:nth-child(2) {
  bottom: 2px;
  z-index: 2;
}

.aoc-token-bank .aoc-round-token:nth-child(3) {
  bottom: 4px;
  z-index: 3;
}

.aoc-token-bank .aoc-round-token:nth-child(4) {
  bottom: 6px;
  z-index: 4;
}

.aoc-token-bank .aoc-round-token:nth-child(5) {
  bottom: 8px;
  z-index: 5;
}

.aoc-token-coin {
  background-position: 0 0;
}

.aoc-token-point {
  background-position: 50% 0;
}

.aoc-token-hype {
  background-position: 0 50%;
}

.aoc-increase-token {
    background-image: url(./img/aoc_increase_tokens.jpg);
    background-repeat: no-repeat;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 1px black);
    -webkit-filter: drop-shadow(1px 1px 2px #000);
    height: 42px;
    position: absolute;
    width: 42px;
}

.aoc-token-bank .aoc-increase-token:nth-child(1) {
  bottom: 0;
  z-index: 1;
}

.aoc-token-bank .aoc-increase-token:nth-child(2) {
  bottom: 2px;
  z-index: 2;
}

.aoc-token-bank .aoc-increase-token:nth-child(3) {
  bottom: 4px;
  z-index: 3;
}

.aoc-token-bank .aoc-increase-token:nth-child(4) {
  bottom: 6px;
  z-index: 4;
}

.aoc-token-bank .aoc-increase-token:nth-child(5) {
  bottom: 8px;
  z-index: 5;
}

.aoc-token-increase-writer-2 {
  background-position: 0 0;
}

.aoc-token-increase-writer-3 {
  background-position: 100% 0;
}

.aoc-token-increase-artist-2 {
  background-position: 0 100%;
}

.aoc-token-increase-artist-3 {
  background-position: 100% 100%;
}

.aoc-token-better-color {
    background-image: url(./img/aoc_better_color.jpg);
    background-repeat: no-repeat;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 1px black);
    -webkit-filter: drop-shadow(1px 1px 2px #000);
    height: 44px;
    position: absolute;
    width: 44px;
}

.aoc-token-bank .aoc-token-better-color:nth-child(1) {
  bottom: 0;
  z-index: 1;
}

.aoc-token-bank .aoc-token-better-color:nth-child(2) {
  bottom: 2px;
  z-index: 2;
}

.aoc-token-bank .aoc-token-better-color:nth-child(3) {
  bottom: 4px;
  z-index: 3;
}

.aoc-token-bank .aoc-token-better-color:nth-child(4) {
  bottom: 6px;
  z-index: 4;
}

.aoc-token-bank .aoc-token-better-color:nth-child(5) {
  bottom: 8px;
  z-index: 5;
}