/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * AgeOfComics implementation : © Evan Pulgino <evan.pulgino@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * ageofcomics.scss
 *
 */

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

html {
  background-image: url(./img/aoc_table.jpg);
  font-size: calc(15px + 0.390625vw);
}

.player-board {
  background-color: #f5ead6 !important;
}

#page-title {
  background-color: #f5ead6 !important;
}
